{% extends "admin/admin_base.html" %}

{% block title %}Admin Dashboard{% endblock %}
{% block page_title %}Dashboard Overview{% endblock %}

{% block content %}

<h2 class="fw-bold mb-4">Dashboard Overview</h2>

<div class="row g-4">

  <div class="col-md-3">
    <a href="/admin/users" style="text-decoration:none;color:inherit">
      <div class="card p-4">
        <h6>Total Users</h6>
        <h2>{{ stats.total_users }}</h2>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="/admin/meal-plans?filter=all" style="text-decoration:none;color:inherit">
      <div class="card p-4">
        <h6>Active Plans</h6>
        <h2>{{ stats.active_plans }}</h2>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="/admin/blogs" style="text-decoration:none;color:inherit">
      <div class="card p-4">
        <h6>Blogs</h6>
        <h2>{{ stats.total_blogs }}</h2>
      </div>
    </a>
  </div>

  <div class="col-md-3">
    <a href="/admin/reviews" style="text-decoration:none;color:inherit">
      <div class="card p-4">
        <h6>User Reviews</h6>
        <h2>{{ stats.reviews }}</h2>
    </div>
    </a>
  </div>

</div>
{% endblock %}
